<footer class="footer__wrapper">
    <div class='footer__nav-wrapper'> 
        <div class="footer__nav-artists">
            <h3 class="footer__nav-title">
                Top Artists
            </h3>
            <ul class="footer__nav-list">
                <li class="footer__nav-item">
                <a href="{{url_for('product.get_artist', artist='David Bowie')}}" class="footer__nav-link">
                        David Bowie
                    </a>
                </li>
                <li class="footer__nav-item">
                <a href="{{url_for('product.get_artist', artist='Radiohead')}}" class="footer__nav-link">
                        Radiohead
                </a>
                </li>
                <li class="footer__nav-item">
                <a href="{{url_for('product.get_artist', artist='Black Sabbath')}}" class="footer__nav-link">
                        Black Sabbath
                </a>
                </li>
                <li class="footer__nav-item">
                <a href="{{url_for('product.get_artist', artist='Nirvana')}}" class="footer__nav-link">
                        Nirvana
                </a>
                </li>
                <li class="footer__nav-item">
                <a href="{{url_for('product.get_artist', artist='The Ramones')}}" class="footer__nav-link">
                        The Ramones
                </a>    
                </li>
                
            </ul>
        </div>
        <div class="footer__nav-genre">
            <h3 class="footer__nav-title">
                Genres
            </h3>
            <ul class="footer__nav-list">
                <li class="footer__nav-item">
                <a href="{{url_for('product.product_by_genre', genre='Rock')}}" class="footer__nav-link">
                    Rock
                </a>
                </li>
                <li class="footer__nav-item">
                <a href="{{url_for('product.product_by_genre', genre='Metal')}}" class="footer__nav-link">
                    Metal
                </a>
                </li>
                <li class="footer__nav-item">
                <a href="{{url_for('product.product_by_genre', genre='Punk')}}" class="footer__nav-link">
                    Punk
                </a>
                </li>
                <li class="footer__nav-item">
                <a href="{{url_for('product.product_by_genre', genre='Hip Hop')}}" class="footer__nav-link">
                    Hip Hop
                </a>
                </li>
                <li class="footer__nav-item">
                <a href="{{url_for('product.product_by_genre', genre='Jazz')}}" class="footer__nav-link">
                    Jazz
                </a>
                </li>
            </ul>
        </div>
        <div class="footer__nav-about">
            <h3 class="footer__nav-title">
                About
            </h3>
            <ul class="footer__nav-list">
                <li class="footer__nav-item">
                <a href="/whatsapp" class="footer__nav-link">
                    Message on Whatsapp
                </a></li>
                <li class="footer__nav-item">
                <a href="/email" class="footer__nav-link">
                    Email
                </a></li>
                <li class="footer__nav-item">
                <a href="{{url_for('main.privacy')}}" class="footer__nav-link">
                    Privacy Policy
                </a></li>
                <li class="footer__nav-item">
                <a href="/work-for-us" class="footer__nav-link">
                    Work for Us
                </a></li>
            </ul>
        </div>
    </div>
    <div class='footer__socials-wrapper'> 
        <ul class="footer__socials-content">
            <li class="footer__socials-item">
            <a href="https://www.twitter.com" class="footer__socials-link">
                    Twitter
            </a>
            </li>
            <li class="footer__socials-item">
            <a href="https://www.facebook.com" class="footer__socials-link">
                    Facebook
            </a>
            </li>
            <li class="footer__socials-item">
            <a href="https://www.instagram.com" class="footer__socials-link">
                    Instagram
            </a>
            </li>
        </ul>
    </div>
    <div class='footer__copy-wrapper'> 
        <div class='footer__copy-content'>
            <p class="footer__copy-content">
                Copyright Joshua Shepherd &copy; 2023
            </p>
        </div>
    </div>
    <div class='footer__notice-wrapper'> 
        <div class='footer__notice-content'>
            <h3 class="footer__notice-title">
                Notice
            </h3>
            <p class="footer__notice-content">
                This is a web development project and not an active company
                It uses a Stripe test account
                If you want to test a transaction please use one of these cards
            </p>
        </div>
    </div>
</footer>

<!--
    1. footer__nav
    Top Artists  |  Shop by genre  |  About Us

        Artist_1 |    Rock        |    email
        Artist_2 |    Punk        |    phone
        Artist_3 |    Hip Hop     |    Privacy 
        Artist_4 |    Jazz        |    Work with Us
        Artist_5 |    Metal
    
        ----------------------------------------------
        2. footer__socials
        --Social Media--

        Facebook |   Twitter     |     Instagram

        ----------------------------------------------
        3. footer__copy
        Copyright c Joshua Shepherd 2023
        ----------------------------------------------
        4. footer__notice
        This is a web development project and not an active company
        It uses a Stripe test account
        If you want to test a transaction please use one of these cards
        ----------------------------------------------

<footer> display=flex, column; bg=dark; color=main
    <div class='footer__nav-wrapper'> display=grid, 3x7
        <div class="footer__nav-artists"></div>
        <div class="footer__nav-genre"></div>
        <div class="footer__nav-about"></div>
    </div>
    <div class='footer__socials-wrapper'> bg=main; color=dark
        <div class="footer__socials-title"></div>
        <div class="footer__socials-content"></div>
    </div>
    <div class='footer__copy-wrapper'> bg=dark; color=main
        <div class='footer__copy-content'></div>
    </div>
    <div class='footer__notice-wrapper'> bg=main; color=dark
        <div class='footer__notice-content'></div>
    </div>
</footer>
 -->