<footer>
    footer
</footer> 

<!-- 
    Top Artists  |  Shop by genre  |  About Us

        Artist_1 |    Rock        |    email
        Artist_2 |    Punk        |    phone
        Artist_3 |    Hip Hop     |    Privacy 
        Artist_4 |    Jazz        |    Work with Us
        Artist_5 |    Metal
    
        ----------------------------------------------
        --Social Media--

        Facebook |   Twitter     |     Instagram

        ----------------------------------------------
        Copyright c Joshua Shepherd 2023
        ----------------------------------------------
        This is a web development project and not an active company
        It uses a Stripe test account
        If you want to test a transaction please use one of these cards
        ----------------------------------------------
 -->