<footer class="footer__wrapper">
    <div class='footer__nav-wrapper'> 
        <div class="footer__nav-artists">
            <h3 class="footer__nav-title">
                Top Artists
            </h3>
            <ul class="footer__nav-list">
                <a href="{{url_for('product.get_artist', artist='David Bowie')}}" class="footer__nav-link">
                    <li class="footer__nav-item">
                        David Bowie
                    </li>
                </a>
                <a href="{{url_for('product.get_artist', artist='Radiohead')}}" class="footer__nav-link">
                    <li class="footer__nav-item">
                        Radiohead
                    </li>
                </a>
                <a href="{{url_for('product.get_artist', artist='Black Sabbath')}}" class="footer__nav-link">
                    <li class="footer__nav-item">
                        Black Sabbath
                    </li>
                </a>
                <a href="{{url_for('product.get_artist', artist='Nirvana')}}" class="footer__nav-link">
                    <li class="footer__nav-item">
                        Nirvana
                    </li>
                </a>
                <a href="{{url_for('product.get_artist', artist='The Ramones')}}" class="footer__nav-link">
                    <li class="footer__nav-item">
                        The Ramones
                    </li>
                </a>
            </ul>
        </div>
        <div class="footer__nav-genre">
            <h3 class="footer__nav-title">
                Genres
            </h3>
            <ul class="footer__nav-list">
                <a href="" class="footer__nav-link">
                    <li class="footer__nav-item">Rock</li>
                </a>
                <a href="" class="footer__nav-link">
                    <li class="footer__nav-item">Metal</li>
                </a>
                <a href="" class="footer__nav-link">
                    <li class="footer__nav-item">Punk</li>
                </a>
                <a href="" class="footer__nav-link">
                    <li class="footer__nav-item">Hip Hop</li>
                </a>
                <a href="" class="footer__nav-link">
                    <li class="footer__nav-item">Jazz</li>
                </a>
            </ul>
        </div>
        <div class="footer__nav-about">
            <h3 class="footer__nav-title">
                About
            </h3>
            <ul class="footer__nav-list">
                <a href="" class="footer__nav-link">
                    <li class="footer__nav-item">Message on Whatsapp</li>
                </a>
                <a href="" class="footer__nav-link">
                    <li class="footer__nav-item">Email</li>
                </a>
                <a href="" class="footer__nav-link">
                    <li class="footer__nav-item">Privacy Policy</li>
                </a>
                <a href="" class="footer__nav-link">
                    <li class="footer__nav-item">Work for Us</li>
                </a>
            </ul>
        </div>
    </div>
    <div class='footer__socials-wrapper'> 
        <ul class="footer__socials-content">
            <a href="" class="footer__socials-link">
                <li class="footer__socials-item">
                    Twitter
                </li>
            </a>
            <a href="" class="footer__socials-link">
                <li class="footer__socials-item">
                    Facebook
                </li>
            </a>
            <a href="" class="footer__socials-link">
                <li class="footer__socials-item">
                    Instagram
                </li>
            </a>
        </ul>
    </div>
    <div class='footer__copy-wrapper'> 
        <div class='footer__copy-content'>
            <p class="footer__copy-content">
                Copyright Joshua Shepherd &copy; 2023
            </p>
        </div>
    </div>
    <div class='footer__notice-wrapper'> 
        <div class='footer__notice-content'>
            <h3 class="footer__notice-title">
                Notice
            </h3>
            <p class="footer__notice-content">
                This is a web development project and not an active company
                It uses a Stripe test account
                If you want to test a transaction please use one of these cards
            </p>
        </div>
    </div>
</footer>

<!--
    1. footer__nav
    Top Artists  |  Shop by genre  |  About Us

        Artist_1 |    Rock        |    email
        Artist_2 |    Punk        |    phone
        Artist_3 |    Hip Hop     |    Privacy 
        Artist_4 |    Jazz        |    Work with Us
        Artist_5 |    Metal
    
        ----------------------------------------------
        2. footer__socials
        --Social Media--

        Facebook |   Twitter     |     Instagram

        ----------------------------------------------
        3. footer__copy
        Copyright c Joshua Shepherd 2023
        ----------------------------------------------
        4. footer__notice
        This is a web development project and not an active company
        It uses a Stripe test account
        If you want to test a transaction please use one of these cards
        ----------------------------------------------

<footer> display=flex, column; bg=dark; color=main
    <div class='footer__nav-wrapper'> display=grid, 3x7
        <div class="footer__nav-artists"></div>
        <div class="footer__nav-genre"></div>
        <div class="footer__nav-about"></div>
    </div>
    <div class='footer__socials-wrapper'> bg=main; color=dark
        <div class="footer__socials-title"></div>
        <div class="footer__socials-content"></div>
    </div>
    <div class='footer__copy-wrapper'> bg=dark; color=main
        <div class='footer__copy-content'></div>
    </div>
    <div class='footer__notice-wrapper'> bg=main; color=dark
        <div class='footer__notice-content'></div>
    </div>
</footer>
 -->