<header class="header__wrapper">
    <section class="header__logo">
        <h1>Brotherhood Records</h1>
    </section>
    <nav class="nav__wrapper">
        <ul class="nav__items">
            <li class="nav__item">
                <a href="{{url_for('product.get_products')}}" 
                class="nav__item-link">
                    Products
                </a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav__item">
                <a href="{{url_for('profile.get_profile', id = current_user.id)}}" 
                class="nav__item-link">
                    Profile
                </a>
            </li>
            <li class="nav__item">
                <a href="{{url_for('auth.logout')}}" 
                class="nav__item-link">
                    Logout
                </a>
            </li>
            {% else %}
            <li class="nav__item">
                <a href="{{url_for('auth.login')}}" 
                class="nav__item-link">
                    Login
                </a>
            </li>
            <li class="nav__item">
                <a href="{{url_for('auth.register')}}" 
                class="nav__item-link">
                    Register
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>