<header class="header__wrapper">
    <section class="header__logo">
        <h1>Brotherhood Records</h1>
    </section>
    <nav class="nav__wrapper">
        <ul class="nav__items">
            <li class="nav__item">
                <a href="{{url_for('product.get_products')}}" 
                class="nav__item-link">
                    Products
                </a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav__item">
                <a href="{{url_for('profile.get_profile', id = current_user.id)}}" 
                class="nav__item-link">
                    Profile
                </a>
            </li>
            <li class="nav__item">
                <a href="{{url_for('auth.logout')}}" 
                class="nav__item-link">
                    Logout
                </a>
            </li>
            {% else %}
            <li class="nav__item">
                <a href="{{url_for('auth.login')}}" 
                class="nav__item-link">
                    Login
                </a>
            </li>
            <li class="nav__item">
                <a href="{{url_for('auth.register')}}" 
                class="nav__item-link">
                    Register
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <img src="{{url_for('static', filename='icons/bars-solid.svg')}}" 
    alt="Menu" 
    class="mobile__nav-svg"
    id="mobileNavBtn">
</header>
<nav class="mobile__nav-wrapper">
    <ul class="mobile__nav" id="mobileNav">
        {% if current_user.is_authenticated %}
        <li class="mobile__nav-item mobile__nav-greeting">
            Hello, {{current_user.name}}
        </li>
        {% endif %}
        <a href="{{url_for('product.get_products')}}" class="mobile__nav-link">
        <li class="mobile__nav-item"> 
                Products
        </li>
        </a>
        {% if current_user.is_authenticated %}
            <a href="{{url_for('profile.get_profile', id = current_user.id)}}" class="mobile__nav-link"> 
        <li class="mobile__nav-item">
                Profile
        </li>
        </a>
        <a href="{{url_for('auth.logout')}}" class="mobile__nav-link">
        <li class="mobile__nav-item">
                Logout
        </li>
        </a>

        {% else %}
        <a href="{{url_for('auth.login')}}" class="mobile__nav-link">
        <li class="mobile__nav-item">
                Login
        </li>
        </a>
        <a href="{{url_for('auth.register')}}" class="mobile__nav-link">
        <li class="mobile__nav-item">
                Register
        </li>
        </a>
        {% endif %}
    </ul>
</nav>
