{% extends 'admin/base.html' %}

{% block content %}
<div class="container">
    <h2>Records</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>id</th>
          <th>Title</th>
          <th>Artist</th>
          <th>Price</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
            <tr>
                <td>
                    {{ record.id }}
                </td>
                <td>
                    {{ record.title }}
                </td>
                <td>
                    {{ record.artist }}
                </td>
                <td>
                    {{ record.price }}
                </td>
                <td>
                    <a href="url_for('admin.edit_record', id=record.id)">
                        edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        <tr>
        </tr>
      </tbody>
    </table>
    <ul>
      {% for user in users %}
      <li>{{user.name}}</li>
    </ul>
  </div>
{% endblock %}