<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#32025A"/>
    <meta name="description" content="Join the brotherhood! With Brotherhood Records you can not only buy records to add to your collection, but also keep track and share your favourite music">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>
        {{title}}
    </title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-19HEC89ZRX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-19HEC89ZRX');
</script>
<body>
    {% include 'includes/header.html' %}
    <!-- flashed messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    

    {% block content %}

    {% endblock %}
    {% include 'includes/footer.html' %}

    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>