{% extends 'base.html' %}

{% block content %}
    <main class="container">
        <form action="" method="POST">
            <label for="current_password">
                Enter Current Password
            </label>
            <input type="password" name="current_password" id="current_password">
            <label for="new_password">
                Enter New Password
            </label>
            <input type="password" name="new_password" id="new_password">

            <input type="submit">
        </form>
    </main>
{% endblock %}