{% extends "base.html" %}

{% block content %}

<main class="container">
    <div class="para-block-wrapper">
        <p class="para-block">
            <strong>Welcome to the Privacy Policy page of Brotherhood Records. Your privacy 
            is important to us, and we are committed to protecting your personal 
            information in accordance with applicable data protection laws and 
            regulations.</strong>
        </p>
        <p class="para-block">
            This policy outlines the types of information we collect from you and how 
            we use, share, and protect that information. By using our website, you 
            agree to the terms and conditions of this policy.
        </p>
        <h3>
            Information We Collect
        </h3>
        <p class="para-block">
            We may collect personal information from you, such as your name, email 
            address, mailing address, and payment information when you place an order 
            with us. We also collect non-personal information such as your IP address, 
            browser type, and browsing behavior.
        </p>
        <h3>
            How We Use Your Information
        </h3>
        <p class="para-block">
            We use your personal information to process your orders, communicate with 
            you about your orders, and to provide you with marketing materials such as 
            newsletters, promotions, and product updates. We may also use your 
            non-personal information to improve our website and customer experience.
        </p>
        <h3>
            Sharing Your Information
        </h3>
        <p class="para-block">
            We do not share your personal information with third parties except when 
            necessary to fulfill your orders (e.g. shipping carriers) or when required 
            by law. We may share your non-personal information with third-party service 
            providers to help us improve our website and services.
        </p>
        <h3>
            Security of Your Information
        </h3>
        <p class="para-block">
            We take reasonable measures to protect your personal information from 
            unauthorized access, disclosure, or alteration. We use secure server 
            technology to encrypt your personal and payment information during 
            transmission.
        </p>
        <h3>
            Your Choices
        </h3>
        <p class="para-block">
            You have the right to opt-out of receiving marketing communications from 
            us by contacting us at [insert contact information here]. You may also 
            modify or delete your personal information by logging into your account on 
            our website.
        </p>
        <h3>
            Changes to this Policy
        </h3>
        <p class="para-block">
            We reserve the right to modify this Privacy Policy at any time. If we make 
            significant changes to the policy, we will notify you by posting a notice 
            on our website.
        </p>
        <p class="para-block">
            If you have any questions about our Privacy Policy or how we collect, use, 
            or protect your personal information, please don't hesitate to contact us 
            at info@brotherhood.com.
        </p>
    </div>
</main>

{% endblock %}