{% extends 'base.html' %}

{% block content %}
    <main class="container">
        <div class="genre__search-wrapper">
            <div class="genre__search-title">
                <h2>
                    Search your favourite genres
                </h2>
            </div>
            <div class="genre__search-links">
                {% for genre in genres %}
                <a href="{{url_for('product.product_by_genre', genre=genre)}}" class="genre__search-link">{{genre}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="sort__form-wrapper">
            <form action="" method="GET" class="sort__form">
                <select name="sort" id="sort" title="Sort Products">
                    <option value="artist">Artist Name</option>
                    <option value="title">Title</option>
                    <option value="price">Price (L-H)</option>
                </select>
                <input type="submit" value="Sort Products">
            </form>
        </div>
        
        {% for product in products  %}
        <div class="product_wrapper">
            <div class="product__img-wrapper">
                <img src="{{product.img_url}}" 
                alt="{{product.title}}, {{product.artist}}" 
                class="product__img"
                loading="lazy">
            </div>
            <div class="product_details">
                    <p>{{product.title}}</p>
                    <a href="{{url_for('product.get_artist', artist=product.artist)}}'" class="product_details-link">{{product.artist}}</a>
                    <p>£{{product.price}}</p>
            </div>
            <div class="product__ctas">
                <div class="product_link">
                    <a href="{{url_for('product.product_page', id=product.id)}}" class="cta">
                        View More
                    </a>
                </div>
                {% if product not in current_user.collection and not current_user.is_anonymous %}
                <div class="product_link">
                    <a href="{{url_for('product.add_to_collection', id=product.id)}}" class="cta">
                        Add to Collection
                    </a>
                </div>
                {% elif product in current_user.collection and not current_user.is_anonymous %}
                <div class="product_link">
                    <a href="{{url_for('product.remove_from_collection', id=product.id)}}" class="cta">
                        Remove from Collection
                    </a>
                </div>
                {% elif current_user.is_anonymous %}
                <div class="product_link">
                    <a href="{{url_for('auth.login')}}" class="cta">
                        Login
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        </div>
            
            {% endfor %}
    </main>
{% endblock %}