{% extends 'base.html' %}

{% block content %}
    <main class="container">
        <div class="genre__search-wrapper">
            <div class="genre__search-title">
                <h3>
                    Search your favourite genres
                </h3>
            </div>
            <div class="genre__search-links">
                <a href="{{url_for('product.product_by_genre', genre='Rock')}}" class="genre__search-link">
                    Rock &amp; Metal
                </a>
                <a href="{{url_for('product.product_by_genre', genre='Pop')}}" class="genre__search-link">
                    Pop
                </a>
                <a href="{{url_for('product.product_by_genre', genre='Jazz')}}" class="genre__search-link">
                    Jazz
                </a>
                <a href="{{url_for('product.product_by_genre', genre='Classical')}}" class="genre__search-link">
                    Classical
                </a>
                <a href="{{url_for('product.product_by_genre', genre='Hip Hop')}}" class="genre__search-link">
                    Hip Hop
                </a>
                <a href="{{url_for('product.product_by_genre', genre='Dance')}}" class="genre__search-link">
                    Dance
                </a>
                <a href="{{url_for('product.product_by_genre', genre='Punk')}}" class="genre__search-link">
                    Punk
                </a>
            </div>
        </div>
        <div class="sort__form-wrapper">
            <form action="" method="GET" class="sort__form">
                <select name="sort" id="sort">
                    <option value="artist">Artist Name</option>
                    <option value="title">Title</option>
                    <option value="price">Price (L-H)</option>
                </select>
                <input type="submit" value="Sort Products">
            </form>
        </div>
        
        {% for product in products  %}
        <div class="product_wrapper">
            <div class="product__img-wrapper">
                <img src="{{product.img_url}}" 
                alt="{{product.title}}, {{product.artist}}" 
                class="product__img">
            </div>
            <div class="product_details">
                    <p>{{product.title}}</p>
                    <a href="{{url_for('product.get_artist', artist=product.artist)}}">{{product.artist}}</a>
                    <p>£{{product.price}}</p>
            </div>
            <div class="product_link">
                <a href="{{url_for('product.product_page', id=product.id)}}" class="cta">
                    View More
                </a>
            </div>
        </div>
        </div>
            
            {% endfor %}
    </main>
{% endblock %}