{% extends 'base.html' %}

{% block content %}
    <main class="container">
        {% for product in products %}
        <div class="product_wrapper">
            <div class="product_img">
                <img src="{{product.img_url}}" alt="">
            </div>
            <div class="product_details">
                    <p>{{product.title}}</p>
                    <p>{{product.artist}}</p>
                    <p>{{product.price}}</p>
            </div>
            <div class="product_link">
                <a href="{{url_for('product.product_page', id=product.id)}}" class="cta">
                    View More
                </a>
            </div>
        </div>
        </div>
            
            {% endfor %}
    </main>
{% endblock %}