{% extends "base.html" %}

{% block content %}
<main class="container">
    <form action="" method='POST'>
        <label for="username">
            Username
        </label>
        <input type="text" name="username" id="username">

        <label for="email">
            Email
        </label>
        <input type="email" name="email" id="email">

        <label for="password">
            Password
        </label>
        <input type="password" name="password" id="password">
        
        <div class="password__helper-wrapper">
            <p id="password-numbers" class="password__helper-content">Password must include at the one number</p>
            <p id="password-characters" class="password__helper-content">Password is a minimum of 12 characters</p>
            <p id="password-special" class="password__helper-content">Pasword includes at least one special character</p>
            <p id="password-lower" class="password__helper-content">Password must include at least one lowercase character</p>
            <p id="password-upper" class="password__helper-content">Password must include at least one uppercase character</p>

        </div>

        <label for="password_confirmation">
            Re-enter Password
        </label>
        <input type="password" name="password_confirmation" id="password-confirmation">

        <input type="submit" value="register">
    </form>
</main>
<script src="{{url_for('static', filename='js/password_help.js')}}"></script>
{% endblock %}