{% extends "base.html" %}

{% block content %}
    <main class="container">
        <div class="para-block-wrapper">
            <h1>Your Order Has Been Placed!</h1>
            <p class="para-block">
                Thank you for placing your order with Brotherhood Records! We 
                appreciate your business and hope you enjoy your vinyl record(s).
            </p>
            <p class="para-block">
                Your order has been received and is being processed. We will send 
                you an email confirmation shortly with your order details and 
                shipping information. Please keep this confirmation for your 
                records.
            </p>
            <p class="para-block">
                We take great care to ensure that your order is shipped promptly 
                and arrives in excellent condition. We will do our best to get 
                your order shipped out within [insert estimated shipping time] 
                and will provide you with tracking information as soon as your 
                order is on its way.
            </p>
            <p class="para-block">
                If you have any questions about your order or need assistance with 
                anything related to your purchase, please don't hesitate to contact 
                us at info@brotherhood.com. We're here to help and 
                ensure that you have a positive shopping experience with us.
            </p>
            <p class="para-block">
                Again, thank you for choosing Brotherhood Records for your vinyl 
                record needs. We appreciate your support and look forward to 
                serving you again in the future.
            </p>
        </div>
    </main>
{% endblock %}