{% extends "base.html" %}
{% block content %}
<main class="container">
    <div class="genre__search-links" style="display:none">
        {% for product_genre in product_genres %}
        <a href="{{url_for('product.product_by_genre', genre=product_genre)}}" class="genre__search-link">{{product_genre}}</a>
        {% endfor %}
    </div>
    <div class="profile__table-wrapper">
        <table class="profile__table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        {{ user.name }}
                    </th>
                    <th>
                        <a href="{{url_for('profile.edit_name', id=current_user.id)}}">
                            edit
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Username
                    </td>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        <a href="{{url_for('profile.edit_username', id=current_user.id)}}">
                            edit
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        E-mail
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        <a href="{{url_for('profile.edit_email', id=current_user.id)}}">
                            edit
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="profile__password-wrapper">
        <a href="{{url_for('profile.change_password', id=current_user.id)}}" class="profile__password-link">
            Change Password
        </a>
    </div>
    <div class="favorite__genres-wrapper">
        <h3 class="favorite__genres-title">Your favorite genres</h3>
        <ul class="favorite__genres-items">
            {% for genre in genres %}
                <li class="favorite__genres-item">
                    {{ genre.name }}
                </li>
            {% endfor %}
        </ul>
    </div>

    <form class="add_genre" method="POST">
        <input type="text" name="genre" id="genre_input" placeholder="add a genre" autocomplete="off">
        <div id="suggestion" title="press enter to select"></div>

        <input type="submit" id="submit_genre" disabled>
    </form>
    <div class="profile__collection-wrapper">
        <h3 class="profile__collection-title">Your Collection</h3>
        {% if collection_length == 0 %}
            <p class="para-block">
                Your collection is empty. View our <a href="{{url_for('product.get_products')}}">products</a> to add some now!
            </p>
        {% else %}
        <div class="profile__collection-list">
            {% for item in user.collection %}
                <a href="{{url_for('product.product_page', id=item.id)}}">
                    <img src="{{item.img_url}}" 
                    alt="{{item.title}}, {{item.artist}}" 
                    title="{{item.title}}, {{item.artist}}"
                    loading="lazy">
                </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>

</main>
<script src="{{url_for('static', filename='js/input.js')}}"></script>
{% endblock %}