.header__wrapper {
    padding: 1.75rem 3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--main);
    color: var(--dark);
}

.nav__items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav__item {
    list-style-type: none;
} .nav__item-link {
    padding: 1rem 2.5rem;

    font-size: 1.2rem;

    transition: all 0.5s;
} .nav__item-link:hover {
    background-color: var(--dark);
    color: var(--main)
}