@import url(header.css);
@import url(profile.css);
@import url(product_list.css);

/* GLOBAL CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 1.75rem;
    letter-spacing: 0.1em;
}

:root {
    font-size:18px;

    /* VARIABLES */
    --main: #E2CD6D;
    --secondary: #83B799;
    --white: #E4D8B4;
    --black: #272324;
    --warning: #E86F68;
    --sage: #C2B28F
}

.container {
    padding: 1rem 4rem;
    margin: 2rem 4rem;
}


/* REUSABLE COMPONENTS */

label {
    display: block;
}

input[type='text'], 
input[type='password'],
input[type='email'] {
    width: 100%;
    padding: 1rem 1rem;
    margin: 8px 0;
    font-size: 1.25rem;
}