.profile__table-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

}

table {
    max-width: 100%;

    text-align: center;
}

th, 
td {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.profile__password-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem 0;
} .profile__password-link {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    font-weight: 400;

    transition: all 0.5s ease-in;
} .profile__password-link:hover {
    text-decoration: underline;
}

.favorite__genres-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem 1.5rem;
    border-top: 1px solid var(--dark)
} .favorite__genres-title {
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
    padding-bottom: 1rem;;
} .favorite__genres-items {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    text-align: center;
} .favorite__genres-item {
    background-color: #f6f6f6;
    min-width: 8rem;
    padding: .75rem;
    border-radius:.7rem;
    border: 1px solid var(--dark);
    cursor: pointer;
    transition: all 0.3s ease-in;
    margin-bottom: 1rem;
} .favorite__genres-item:hover {
    background-color: var(--dark);
    color: var(--main)
}

.add_genre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#suggestion {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.08rem;
    
    background-color: #fafafa;
    width: 100%;
}

.password__helper-wrapper {
    display: flex;
    flex-direction: column;

    padding: 0.5rem 0rem 1rem;
}

.password__helper-content {
    padding: 0.75rem 0;
    color: var(--error);
}

.profile__collection-wrapper {
    padding: 1rem 0;
}

.profile__collection-list {
    padding: .5rem 0;
}



@media screen and (max-width:600px){
    td {
        padding: 0.4rem;
    }
}

/* div {
    border: 1px solid black;
} */

